
main{
    width: 600px;
    margin: 10px auto;
    border: 1px solid #ddd;
    padding: 5px;
}

.form-control{
    width: 50%;
}

.input-group{
    width: 50%;
}

.contentArea{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}